<%= stylesheet_link_tag 'gift' %>
<% provide(:title, "ギフト一覧") %>

<div class="container">
  <div class="row">
<div class="col-md-9">
<div class="price-wrapper">
        <h2>価格帯・ブランド別</h2>
</div>
      <div class="price">
        <ul id="price-list">
          <li class="price-list-item">
            <h3 class="list-name">プチプラ</h3>
            <span>+</span>
            <div class="answer">
                <div class="row">
                <% @petitprice.each do |brand| %>
                  <div class="col-md-4">
                      <div class="card">
                      <%= brand["brand_name"] %>
                          <% brand["products"].each do |product| %>
                            <div class="col-md-4">
                                <%= product["item_name"] %>
                                <%= product["price"] %>
                                <%= product["release_at"] %>
                                <%= product["shopping_link"] %>
                                <%= image_tag product["image_url"]%>
                            </div>
                        <% end %>
                      </div>
                  </div>
                <% end %>
                </div>
            </div>
          </li>
          <li class="price-list-item">
            <h3 class="list-name">~5000円</h3>
            <span>+</span>
            <div class="answer">
              <p>リストアップ</p>
            </div>
          </li>
          <li class="price-list-item">
            <h3 class="list-name">~10000円</h3>
            <span>+</span>
            <div class="answer">
              <p>リストアップ</p>
            </div>
          </li>
        </ul>
  </div>
  </div>
  </div>
</div>