<%= stylesheet_link_tag 'gift' %>
<% provide(:title, "ランキング一覧") %>

<div class="col-md-9">
  <div class="price-wrapper">
    <h1>週間ランキング</h1>
        <% @ranking.each do |product| %>

        <%= link_to product["shopping_link"] do %>
            <div class="thumbnail" style="display: inline-block; width: 25rem; height: 25rem">
              <span class="ranking-num"><%= product["rank"] %></span>
              <%= image_tag product["image_url"], :size =>'135x135'%>
              <div class="caption">
                <p class="line-3"><%= product["item_name"]%></p>
                <%= number_with_delimiter(product["volume_price_label"]) %> <br>
              </div>
            </div>
        <% end %>
       
        <% end %>
        </div>
  </div>
</div>