<%= stylesheet_link_tag 'gift' %>
<% provide(:title, "週間ランキング") %>

<div class="col-md-9">
  <div class="price-wrapper">
    <h2><span class="under-lined">週間ランキング</span></h2>
        <% @ranking.each do |product| %>

        <%= link_to product["shopping_link"] do %>
            <div class="thumbnail" style="display: inline-block; width: 24.7%; padding: 0px;">
              <span class="ranking-num"><%= product["rank"] %></span>
              <%= image_tag product["image_url"], :size =>'135x135'%>
              <div class="caption">
                <p class="line-3"><%= product["item_name"]%></p>
                <%= number_with_delimiter(product["volume_price_label"]) %> <br>
              </div>
            </div>
        <% end %>

        <% end %>
        </div>
  </div>
</div>
