<%= stylesheet_link_tag 'index' %>
<% provide(:title, "トップページ") %>

<div class="event_name <%= @event_name_en+"_content" %> col-md-9">〜<%= @event_name_ja %>〜</div>

<a href=<%= gift_new_path %> target="_blank">
  <div class="content <%= @event_name_en+"_content" %> col-md-3">
    <h1>新作コスメ</h1>
    <h5>価格別・ブランド別に</h5>
    <h5>新作コスメを探してみよう♪</h5>
    <div class="img"><%= image_tag("new_snap.jpg", :size =>'290x290', alt: "new snap") %></div>
    <h5 class="check">CHECK!</h5>
  </div>
</a>

<a href=<%= gift_rank_path %> target="_blank">
  <div class="content <%= @event_name_en+"_content" %> col-md-3">
    <h1>週間ランキング</h1>
    <h5>まずはランキングを見てみたい！</h5>
    <h5>という方はこちらから♪</h5>
    <div class="img"><%= image_tag("rank_snap.jpeg", :size =>'290x290', alt: "rank snap") %></div>
    <h5 class="check">CHECK!</h5>
  </div>
</a>

<a href=<%= gift_recommend_path %> target="_blank">
  <div class="content <%= @event_name_en+"_content" %> col-md-3">
    <h1>おすすめ</h1>
    <h5>普段使いしているコスメから</h5>
    <h5>新しいコスメをおすすめ♪</h5>
    <div class="img"><%= image_tag("recommend_snap.jpg", :size =>'290x290', alt: "recommend snap") %></div>
    <h5 class="check">CHECK!</h5>
  </div>
</a>