<div class="links col-md-3">
  @cosme ホームページ
  <a href="https://www.cosme.net" target="_blank"><%= image_tag("at_cosme_icon_circle.png", :size =>'40x40', alt: "@cosme icon") %></a>
</div>
<div class="links col-md-5">
  @cosme 公式SNSアカウント
  <a href="https://twitter.com/atcosmenet" target="_blank"><%= image_tag("twitter_icon_circle.png", :size =>'40x40', alt: "twitter icon") %></a>
  <a href="https://www.facebook.com/atcosme/" target="_blank"><%= image_tag("fb_icon_circle.png", :size =>'40x40', alt: "facebook icon") %></a>
  <a href="https://line.me/R/ti/p/%40at_cosme" target="_blank"><%= image_tag("line_icon_circle.png", :size =>'40x40', alt: "line icon") %></a>
</div>
<div class="links col-md-4">
  @cosme宣言
  <a href="https://www.cosme.net/html/sng/index.html" target="_blank"><%= image_tag("at_cosme_declaration.png", :size =>'130x40', alt: "twitter icon") %></a>
</div>
<div class="copyright col-md-12">
  copyright©istyle,inc.
</div>