<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'index', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <div class="container">
      <div class="title row">
        <div class="logo col-md-11"><%= link_to image_tag("for_gift_logo.png", :size =>'420x61', alt: "@cosme logo"), root_path %></div>
        <div class="icon col-md-1"><a href="https://www.cosme.net" target="_blank"><%= image_tag("at_cosme_icon.jpg", :size =>'66x61', alt: "@cosme icon") %></a>
      </div>
      <div class="main-contents">
        <%= render 'layouts/event' %>
        <%= yield %>
      </div>
      <%= render 'layouts/footer' %>
    </div>
  </body>
</html>