<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all',
                               'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application',
                               'data-turbolinks-track': 'reload' %>
    <%= render 'layouts/shim' %>
  </head>

  <body>
    <h1><%= image_tag("at_cosme_logo.jpg", :size =>'214x61', alt: "@cosme logo") %><font color="#2eb6aa">for gift</font></h1>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/event' %>
  </body>
</html>